<!DOCTYPE html>
<html>
<head>
  <title>Crossfit</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= render partial: 'layouts/nav' %>
  </header>

  <div class="app-frame">
    <% flash.each do |type,msg| %>
      <div class="alert <%= bootstrap_class_for(type) %> fade in">
        <button class="close" data-dismiss="alert">×</button>
        <%= msg %>
      </div>        
    <% end %>

    <%= yield %>
  </div>

  <footer></footer>
</body>
</html>
